<% if @members && !@members.empty? %>
  <table class='rg-table zebra' summary='Members found'>
    <caption class='rg-header'>
      <span class='rg-hed'>Members</span>
    </caption>
    <thead>
      <tr>
        <th class='text '>Name</th>
        <th class='text '>Connection</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <% if member.search_score != 0 %>
          <tr>
            <td class='text ' data-title='Name'>
              <%= link_to member.name, member.website, title: "Open page", :target => "_blank" %>
            </td>
            <td class='text ' data-title='Connection'>
            	<%= member.friend_connection.html_safe if member.friend_connection %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
 <% else %>
  <div class="row">
	<h2> No results found! </h2>
  </div>
 <% end %>