<div class="container popup">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" onclick="hideModal(); highlight('member'); location.href=<%= "'/members/#{@member.id}'"%>">x</button>
	</div>
	<div class="modal-body">
	    <h1><%= "Search experts for #{@member.name}" %></h1>
	    <div class="container">
	    	<%= render "search" %>
		</div>
	</div>
</div>