<h1><%= "Select friends for #{@member.name}" %></h1>
<% if @members.any? %>
<h4>Friends</h4>
<table id="SelectFriends" class="blueTable" >
  <thead>
    <tr>
    <th>Name</th>
    <th>Friend</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, "/members/#{member.id}" %></td>
        <td><%= check_box_tag member.name, 'yes', true %></td>
       </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br/>
<br/>
<%= link_to image_tag("back.png", title: "Back", size: "20x20", align: "top"), "/members/#{@member.id}", :class => 'toolButton' %>